---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="About Me">
  <div class="container">
    <h1>About Me</h1>
    <ul>
      <li>Hello</li>
    </ul>
  </div>
</DefaultLayout>

<style lang="scss">
  ul {
    list-style: inside;
  }
</style>
