---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero title="Alex Nivelle" , subtitle="Under Construction">
    <p slot="button1">About me</p>
    <p slot="button2">Resume</p>
  </Hero>
</DefaultLayout>
