---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Slideshow from '../components/Slideshow.astro'
import { Image } from 'astro:assets'
import image1 from '../assets/img/DSC_0312.JPG'
import image2 from '../assets/img/DSC_0350.JPG'
const images = [image1, image2]
---
<DefaultLayout title="Photography">
  <div class="container">
    <h1>My Photos</h1>
        <Slideshow>
          {images.map((item) => <Image class="slide rounded-lg" src={item} alt=""
            width = "800" />)}
        </Slideshow>
  </div>
</DefaultLayout>
<style lang="scss">
  .slides {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }
  ul {
    list-style: inside;
  }
</style>
