---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!--<CallToAction />-->
  <section class="py-8">
    <!-- <div class="footer"> -->
      <p>
        &copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>. Made with ❤️ by <a
          href="https://github.com/markteekman">Mark Teekman</a
        >. Modified 2023 for use by Alex Nivelle.
      </p>
    <!-- </div> -->
  </section>
</footer>

<style lang="scss">
footer {
  text-align: center;
}

</style>
