---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
import Projects from '../assets/Projects.json'

  
export async function getStaticPaths({ paginate }) {

  return paginate(Projects, { pageSize: 6 })
}

const { page } = Astro.props
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item"> <a href="/">Home</a>
    </li>
    <li class="menu-item"> 
      <a href="/about">About</a> 
    </li> 
    <li class="menu-item has-dropdown">
      <button type="submit" aria-haspopup="true" aria-expanded="false">Projects</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/blog/">All Projects</a>
        </li>
          {
            page.data.map((project) =>(
            <li class="submenu-item">
              <a href={"/blog/"+ project.title.replaceAll(' ',
                  '-').toLowercase()}>{project.title}</a>
            </li>))
          }
      </ul>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/anivelle" target="_blank" title="Go to my GitHub page">
        <Icon pack="ion" name="logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  .form {
    display: inline;
  }
  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
